body {
    background-color: #d0c8c1;
}


.title {
    margin-bottom: 0;
    font-size: 4em;
}

.subtitle {
    margin-bottom: 0;
    font-size: 2em;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: -10;
}

.background-image {
    background: url("/sakura-field-minecraft-thumb.jpg") no-repeat top center fixed;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.debug {

  background: #111;
  color: white;
}


.discord {
    width:300px;
    height:50px;
    text-align: center;
    align-content: center;
    border: 2px solid #785b8e;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #cdb2e2;
    color: #785b8e;
    font-size: 1em;
}

.margin-bottom {
    margin-bottom: 100px;
}


.card {
    display: flex;
    gap: 40px;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;

}

.card h2 {
    text-align: center;
}

.card .content {
    width: 50%;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.image {

  width: 70%;
}
