body {
    background-color: #d0c8c1;
}


.title {
    margin-bottom: 0;
    font-size: 4em;
}

.subtitle {
    margin-bottom: 0;
    font-size: 2em;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: -10;
}

.background-image {
    background: url("/sakura-field-minecraft-thumb.jpg") no-repeat top center fixed;
    filter: blur(5px);
    transform: scale(1.1);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.debug {

  background: #111;
  color: white;
}


.margin-bottom {
    margin-bottom: 100px;
}

.margin-top {
    margin-top: 100px;
}

.card {
    display: flex;
    gap: 40px;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;

}

.card h2 {
    text-align: center;
}

.card .content {
    width: 50%;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.image {
  width: 70%;
}



.fade-in {
    animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
